# Goal of the project : scrap these datas {player_name, player_club, goals, assists, played}
## Url : https://www.bbc.com/sport/football/womens-super-league/top-scorers

In [8]:
#Importing libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [43]:
player_names=[] #List to store all player names
player_teams=[] #List to store all player team names
total_goals=[] #List to store all goals scored by each player
total_assists=[] #List of total assists
total_played=[] #list of total matches played
total_shots=[]

In [46]:
try:
    url ="https://www.bbc.com/sport/football/womens-super-league/top-scorers"
    response = requests.get(url)
    response.raise_for_status()
except Exception as e:
    print(e)
else:
    statusCode = response.status_code
    if statusCode == 200:
        print("Data fetched Successful")

        #creating soup object
        soup = BeautifulSoup(response.content , "html.parser")

        #Selecting the table of players
        players = soup.find('tbody').find_all('tr', class_='ssrcss-qqhdqi-TableRowBody e1icz100') #List of all the rows
        for player in players:
            #Fetching player names
            player_name=player.find('div',class_='ssrcss-m6ah29-PlayerName e1n8xy5b1').get_text(strip =True)
            player_names.append(player_name)#Gives the name of the players

            #Fetching team names
            player_team=player.find('div',class_='ssrcss-qvpga1-TeamsSummary e1n8xy5b0').get_text(strip=True)
            player_teams.append(player_team)

            #Fetching goals scored
            goals = int(player.find('div',class_='ssrcss-18ap757-CellWrapper ef9ipf0').get_text(strip=True))
            total_goals.append(goals)
            
            #Fetching assists, matches played, shots taken
            stats = player.find_all('div',class_='ssrcss-1vo7v3r-CellWrapper ef9ipf0')
            assists_made=int(stats[0].get_text(strip=True))
            matches_played=int(stats[2].get_text(strip=True))
            shots_taken=int(stats[-3].get_text(strip=True))
            total_assists.append(assists_made)
            total_played.append(matches_played)
            total_shots.append(shots_taken)
        data={
            "Player name" : player_names,
            "Team name" : player_teams,
            "Matches played" : total_played,
            "Goals scored" : total_goals,
            "Assists made" : total_assists,
            "Shots taken" : total_shots
        }
        df_players = pd.DataFrame(data)

Data fetched Successful

In [47]:
df_players

,Player name,Team name,Matches played,Goals scored,Assists made,Shots taken
0,A. Russo,Arsenal,21,12,2,73
1,K. Shaw,Man City,14,12,1,52
2,E. Terland,Man Utd,20,10,5,65
3,S. Martinez,West Ham,12,10,0,31
4,V. Asseyi,West Ham,21,9,6,38
...,...,...,...,...,...,...
73,S. Blackstenius,Arsenal,19,5,3,34
74,J. Roord,Man City,19,5,3,47
75,E. Toone,Man Utd,18,5,2,36
76,L. Galton,Man Utd,18,5,2,19
77,J. Park,Man City,21,5,1,31

In [49]:
df_players.to_csv('EPL top scorers.csv',index=False)